<div class="row">
    <div class="col-md-9">
        <h1>{{page_title}}</h1>
        <form class="form-inline" id="userNameForm">
            <div class="form-group mx-sm-3 mb-2">
                <label for="userNameInput" class="mr-2">Your Name</label>
                <input type="text" name="userNameInput" id="userNameInput" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-warning mb-2">Add Your Name</button>
        </form>
        <h3 id="userName"></h3>
        <div class="notification"></div>
        <div id="status">
        </div>    
        <div id="chessBoard" style="width:450px;padding-top:50px; margin:auto;"></div>
    </div>
    <div class="col-md-3">
        <h2><span class="badge badge-secondary"> Online Players </span></h2>
        <ul class="list-group" id="onlinePlayers">
        </ul>
        
    </div>
</div>
